.signup {
  display: flex;
  padding: 3rem 3.9rem;
  background-color: var(--color-white);
  margin: 4.4rem auto;
  width: 1000px;
  box-shadow: var(--shadow);
}

.signup .explains {
  padding: 0 1.5rem;
}

.signup .explains h2 {
  font-size: 1.9rem;
  font-weight: bold;
}

.signup .explains .reason {
  display: flex;
  margin: 5rem 0;
  margin-right: 5rem;
}

.signup .explains .reason h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.signup .explains .reason i {
  display: flex;
  color: var(--color-blue);
  font-size: 2.8rem;
  margin-right: 2rem;
}

.signup .explains .reason p {
  font-size: 1.4rem;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup form h2 {
  font-size: 1.9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-bottom: 2.1rem;
  border-bottom: var(--underline-main);
  margin-bottom: 3.3rem;
}

.signup form label {
  font-weight: bold;
  margin: 1.9rem 0;
}

.signup form input {
  padding: 0.7rem;
  font-size: 1.25rem;
  border: 1px solid #d9e0eb;
  border-radius: var(--size-border-radius);
}

.signup form .password {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.signup form .password > span {
  display: flex;
  flex-direction: column;
}

.signup form .rules {
}

.signup form button {
  color: var(--color-white);
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  border-radius: var(--size-border-radius);
  margin-top: 3.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  padding: 1.2rem 0;
}
