header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding: 0 230px;
}

header > div {
  display: flex;
  align-items: center;
}

header img {
  height: 2.96rem;
}

header .post {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0.86rem;
  margin: 0 4.4rem;
  border: none;
  display: flex;
  align-items: center;
}

header .post > i {
  font-size: 2.1rem;
}

header .post > span {
  margin-left: 1rem;
}

header .search {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1.9rem;
  background-color: white;
  border: none;
  border-bottom: var(--underline-main);
  font-size: 2.5rem;
}

header .search > i {
  font-size: 3rem;
  margin-right: 1.55rem;
}

header .search > span {
  font-size: 1.8rem;
}

header .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
  background-color: var(--color-white);
  border: none;
}

header .status > i {
  font-size: 2rem;
}

header .status > span {
  font-size: 1.5rem;
}
