.result {
  display: flex;
  width: 70rem;
  height: 20rem;
  background-color: white;
  margin: 2rem auto;
  border-radius: 0.5rem;
  overflow: hidden;
}

.result .imageContainer {
  height: 20rem;
  width: 20rem;
  background-color: #cad1d9;
}

.result .imageContainer img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  background-color: #cad1d9;
}

.result .resultInformations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.result .resultInformations h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.result .resultInformations .price {
  color: #f56b2a;
  font-size: 3rem;
}

.result .resultInformations .price {
  font-size: 1rem;
}
