.pageNumbers {
  display: flex;
  justify-content: center;
  color: #336699;
  font-size: 1.5rem;
  flex-wrap: wrap;
  margin: 0 100px;
}

.pageNumbers li {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.pageNumbers .isActual {
  background-color: #f56b2a;
  color: white;
}
